body
{
    background-color: darkslategray;
}
h1
{
    color:powderblue;
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.b
{
    height: 13vw; width: 13vw;
    color:cadetblue;
    font-size: 3vw;
}
#buttons
{
    display: flex;
    justify-content: space-around;
}
#ba
{
    background-image: url("./tom1.png");
}
#bg
{
    background-image: url("./tom2.png");
}
#bb
{
    background-image: url("./tom3.png");
}
#bf
{
    background-image: url("./tom4.png");
}
#bc
{
    background-image: url("./crash.png");
}
#bd
{
    background-image: url("./kick.png");
}
#be
{
    background-image: url("./snare.png");
}
.active
{
    box-shadow: 0 3px 4px 0 cyan;
    opacity: 0.5;
}